/* Comentario en CSS */
/* 
Sintaxis
selector {
    propiedad1: valor;
    propiedad2: valor;
    propiedadN: valor;
}

Pilares de CSS:
    Cascada
    Herencia
    Especificidad

Tipo de Selectores:
    Etiqueta
    Clase (Recomendado)
    ID (Cuando JavaScript si es importante respetar el ID unico)
    Universal (Resetear o Limpiar estilos por defecto del navegador)

Tipos de elementos html:
    inline -> en linea: El tamaño estara determinado por el contenido de la caja, se colocaran uno al lado del otro viualmente
    block -> en bloque: El tamaño siempre va a ocupar el 100% asi el contenido dentro de la caja no ocupe todo el espacio disponible, se colocaran uno debajo del otro visualmente como si hubiese un salto de linea
    inline-block -> en linea y bloque a la vez: es un hibrido que nos permite aprovechar las caracteristicas de ambos
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background-color: #323232;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Eje Principal */
    align-items: center; /* Eje Secundario */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* opacity: 0.3; */
}

.header__logo {
    width: 200px;
    /* height: 15px; */
}

/* .navegacion {
    background-color: yellow;
} */

.navegacion__lista {
    list-style: none;
    display: flex; /* Flexbox */
}

.navegacion__enlace {
    color: #FFFFFF;
    text-decoration: none; /* Quitar Subrayado a los elementos enlace */
}

.navegacion__item {
    margin-left: 16px;
    margin-right: 16px;
}

.seccion1 {
    background-color: yellow;
    width: 100%;
    min-height: 100vh;
    background-image: url('../imagenes/img-banner-3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    padding-top: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion1__titulo {
    font-size: 80px;
    font-style: normal;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-decoration: none;
    margin-bottom: 32px;
    border-bottom: 5px solid #d4da3c;
}

.seccion1__parrafo {
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

.seccion2 {
    /* background-color: yellow; */
    width: 100%;
    height: 100vh;

    display: flex;
}

.seccion2__ladoA {
    background-color: #FAFAFA;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 32px;

    text-align: center;
    color: black;
}

.seccion2__ladoB {
    /* background-color: orange; */
    width: 50%;
}

.seccion2__ladoB video, .seccion2__ladoB img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion2__titulo {
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    color: #d4da3c;
    font-size: 32px;
}

/* Seccion 3 */

.seccion3 {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.seccion3 .cajita {
    width: 250px;
    height: 250px;
    border: 1px solid #d4da3c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 20px;
}

.seccion3 h3 {
    font-size: 40px;
    color: #d4da3c;
}

.seccion3 span {
    font-weight: 700;
    font-size: 14px;
}

.footer {
    background-color: #323232;
    color: #FFFFFF;
    padding: 32px;
}

.footer a{
    color: inherit;
}

.footer ul {
    list-style: none;
}

.footer p {
    text-align: center;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 10px;
    }

    .navegacion__lista {
        flex-wrap: wrap;
    }

    .seccion1__titulo {
        font-size: 40px;
    }

    .seccion2 {
        flex-direction: column;
        min-height: 100vh;
        height: auto;
    }

    .seccion2--column-reverse {
        flex-direction: column-reverse;
    }

    .seccion2__ladoA, .seccion2__ladoB {
        width: 100%;
    }

    .seccion3 {
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .enlaces-contacto {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.estilos-escritorio {
    color: #d4da3c;
}





