/* Comentario en CSS */
/* 
Sintaxis
selector {
    propiedad1: valor;
    propiedad2: valor;
    propiedadN: valor;
}

Pilares de CSS:
    Cascada
    Herencia
    Especificidad

Tipo de Selectoes:
    Etiqueta
    Clase (Recomendado)
    ID (Cuando JavaScript si es importante respetar el ID unico)
    Universal (Resetear o Limpiar estilos por defecto del navegador)
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.subtitulo-rojo {
    color: red;
} 

.cabecera {
    background-color: teal;
}

.claseUnica {
    color: orange;
}
